.Footer {
    padding: 30px 30px 0 30px;
    &-logo {
        a {
            text-decoration: none;
            color: $white-color;
        }
    }
    &-description {
        p {
            font-family: $text-font;
            color: $white-color;
        }
    }
    &-links {
        padding-top: 10px;
        a {
            font-family: $text-font;
            text-decoration: none;
            color: rgba($color: $white-color, $alpha: 0.5);
        }
    }
    &-nav {
        padding-top: 10px;
        h2 {
            font-family: $text-font;
            color: $light-secundary-color
        }
        ul{
            list-style: none;
            padding: 0;
            padding-bottom: 10px;
        }
        ul li {
            margin-bottom: 10px;
        }
        ul li a {
            text-decoration: none;
            font-family: $text-font;
            color: $white-color;
        }
    }
}